.question-box{
    display:none;
    flex-direction: column;
    align-items: center;
    width:380px;
    height:250px;
    box-shadow: 0 0 5px gray;
    border:1px solid #d9d9d9 !important;
    margin:20px;
    &.line{
        width:90vw;
        margin-left:5vw;
        height: 270px;
        h1{
            font-size: 30px;
            text-align: left;
        }
        & > div:nth-child(1){
            justify-content: space-between;
            padding-left:20px; 
            padding-right:20px;
        }
    }
    &.AllDates,
    &.LastDay,
    &.LastWeek,
    &.LastMonth{
        &.AllCategories,
        &.Tag1,
        &.Tag2,
        &.Tag3{
            display: flex;
            &.filterRes:not(.finished){
                display: none;
            }
            &.filterAns:not(.answered){
                display: none;
            }
        }
    }
    &  .quest-logo{
        display: none;
    }
    &.finished{
        & .quest-logo3{
            color: green;
            display: inline-block;
        }
    }
    &.notapproved{
        & .quest-logo2{
            color: lightseagreen;
            display: inline-block;
        }
    }
    &.normally{
        & .quest-logo1{
            color: yellowgreen;
            display: inline-block;
        }
    }
    h1{
        font-size: 20px;
        position: relative;
        top: 13px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        padding:0 5%;
        text-align: center;
    }
    .end{
        position: relative;
        justify-content: flex-end;
        top: 15px;
    }
    hr{
        height: 0px;
        width:100%;
        border:1px solid #d9d9d9 !important;
        background-color: gray;
    }
    & > div{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        .tags{
            display: flex;
            align-items: flex-start;
            font-size: 15px;
            .separate{
                margin:0 5px;
            }
        }
    }
    button:last-child{
        margin-right: 10px;
    }
    button{
        margin: 0 3px;
        padding: 3px;
    }
}
.tag-wr:last-child > .separate{
    display: none;
}
.info-wrapper{
    justify-content: space-around;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    .quest-logo{
        font-size: 70px;
        color: rgb(131, 131, 131);
    }
    .contacts{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}