.question-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:380px;
    height:250px;
    box-shadow: 0 0 10px gray;
    border:1px solid #d9d9d9 !important;
    margin:20px;
    transition: all .6s, width 0s;
    background-color: rgb(252, 252, 252);
    border-radius: 10px;
    button{
        transition: .1s;
        &:hover{
            transform: scale(1.07);
        }
    }
    &:hover{
        transform: translate(-3px, -3px) scale(1);
        box-shadow: 3px 3px 10px gray;
        h1{
            transform: translate(-1px, -1px);
            text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.123);
        }
        .quest-logo{
            transform: perspective(200px) rotate3d(0,-1,0, -10deg) scale3d(1.1,1.1,1.1);
            filter:drop-shadow(-5px 0 2px rgb(197, 197, 197));
            transform-origin: left;
        }
    }
    &.line{
        width:90vw;
        margin-left:5vw;
        height: 270px;
        h1{
            font-size: 30px;
            text-align: left;
        }
        & > div:nth-child(1){
            justify-content: space-between;
            padding-left:20px; 
            padding-right:20px;
        }
    }
    &  .quest-logo{
        transform-style: preserve-3d;
        transform: perspective(200px) rotate3d(0,0,0, -15deg) scale3d(1,1,1);
        perspective: 200px;
        transition: .6s;
        display: none;
    }
    &.finished{
        & .quest-logo3{
            color: green;
            display: inline-block;
        }
    }
    &.notapproved{
        & .quest-logo2{
            color: lightseagreen;
            display: inline-block;
        }
    }
    &.normally{
        & .quest-logo1{
            color: yellowgreen;
            display: inline-block;
        }
    }
    h1{
        font-size: 20px;
        position: relative;
        top: 13px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        padding:0 5%;
        text-align: center;
        color:rgb(33, 57, 58);
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.123);
        transition: .6s;
    }
    .end{
        position: relative;
        justify-content: flex-end;
        top: 15px;
    }
    hr{
        height: 0px;
        width:65%;
        border:1px solid #d9d9d9 !important;
        background-color: gray;
    }
    & > div{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        .tags{
            display: flex;
            align-items: flex-start;
            font-size: 15px;
            .separate{
                margin:0 5px;
            }
        }
    }
    button:last-child{
        margin-right: 10px;
    }
    button{
        margin: 0 3px;
        padding: 3px;
    }
}
.tag-wr:last-child > .separate{
    display: none;
}
.info-wrapper{
    justify-content: space-around;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    .quest-logo{
        font-size: 70px;
        color: rgb(131, 131, 131);
    }
    .contacts{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}