.new-question{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    h1{
        text-align: center;
    }
    textarea{
        resize: none;
    }
    & > *{
        max-width: 1020px;
        width: 90vw;
    }
    .new-question-submit{
        float: right;
        margin-top: 20px;
    }
}