<div *ngIf="this.question !== undefined" class="question-page">
    <h4 class="question-page-author">Author : {{author.name || author.email}}</h4>
    <h5 class="question-page-author">Date : {{date.toLocaleDateString()}} {{date.toTimeString().slice(0,8)}}</h5>
    <h1 class="question-page-title">{{question.title}}</h1>
    <hr>
    <p class="question-page-text">{{question.text}}</p>
    <div class="question-page-panel">
        <div class="question-page-tags tags">
            <div *ngFor="let tag of tags" class="tag-wrapper">
                <a name="{{tag}}" class="tags-tag">{{tag}}</a>
                <span class="separator">|</span>
            </div>
        </div>
        <div class="question-page-buttons">
            <button (click)="approve()" *ngIf="!approved && isAdmin && !question.moded" class="btn btn-success">Approve</button>
            <button (click)="edit()" *ngIf="isOwner" class="btn btn-info">Edit</button>
            <button (click)="delete()" *ngIf="isOwner || isAdmin" class="btn btn-danger">Delete</button>
        </div>
    </div>
    <hr>
    <div class="question-page-commentForm qForm">
        <textarea [(ngModel)]="message" placeholder="Write your solution here" rows="5" id="comment-area-input" class="form-control qForm-comment"></textarea>
        <button (click)="add()" [disabled]="message.length < 10" class="btn btn-primary">Send</button>
        <button (click)="refresh()" *ngIf="(comms!== undefined && comms.length > 0)" class="btn btn-primary">Refresh</button>
    </div>
    <div class="comments-wrapper">
        <div *ngFor="let com of comms" class="comment">
            <div class="comment__author-wrapper">
                <i *ngIf="(user && user.uid === com.owner.id) || isAdmin" (click)="del(com.uid)" class="trash-comment fas fa-trash-alt"></i>
                <span>User:</span>
                <i class="user-ava fas fa-user-circle"></i>
                <span class="comment__email">{{com.owner.email}}</span>

            </div>
            <p class="comment__text">
                {{com.text}}
            </p>
            <div class="comment__side-panel">
                <i *ngIf="!com.solution" class="status fas fa-info-circle neok"></i>
                <i *ngIf="com.solution" class="status fas fa-check-circle ok"></i>
                <button *ngIf="!com.solution && isOwner" id="{{com.id}}" (click)="solution($event)" class="btn btn-info comment__solution">Solution!</button>
            </div>
        </div>
    </div>
</div>