<mdb-navbar SideClass="app-navbar navbar navbar-expand-lg " [containerInside]="false">
    <mdb-navbar-brand><a routerLink="/main" routerLinkActive="active" class="header-bar-a navbar-brand"><i class="fab fa-foursquare"></i><h3>irebase Auth App</h3></a></mdb-navbar-brand>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item main-btn">
          <a routerLink="/main" routerLinkActive="active" class="nav-link waves-light" mdbWavesEffect><i class="fas fa-home"></i> Main</a>
        </li>
        <li class="nav-item signin-btn">
          <a *ngIf="isUser" routerLink="/signin" routerLinkActive="active" class="nav-link waves-light" mdbWavesEffect><i class="fas fa-sign-in-alt"></i>Login</a>
        </li>
        <li class="nav-item signup-btn">
          <a *ngIf="isUser" routerLink="/signup" routerLinkActive="active" class="nav-link waves-light" mdbWavesEffect><i class="fas fa-key"></i>Register</a>
        </li>
        <li class="nav-item logout-btn">
          <a *ngIf="!isUser" (click)="fb('out')" routerLink="/signpage" routerLinkActive="active" class="nav-link waves-light" mdbWavesEffect><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
      </ul>
</mdb-navbar>