.feed{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}   
.centered{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.spin{
    animation: spin .8s ease-out infinite;
}
@media screen and (max-width: 750px){
    .feed{
        justify-self: center;
        & > *{
            margin: auto;
        }
    }
}