<div class="content-wrapper">
    <h1>Welcome,    <strong>{{user}}</strong>.<br><h3>it's time to do everything you want!</h3><br><h4><i>Becouse you are awesome.</i></h4></h1>
    <div class="card">
        <div class="column_one">
            <div class="text">
                <h3>{{email}}</h3>
                <div class="line"></div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero ab, aperiam excepturi!
                </p>
                <i>No phone number yet </i>
                <i class="fas fa-phone fa-lg"></i>
            </div>
            <div class="title">Powerful user</div>
        </div>
        <div class="column_two">
        <img onload="if(event.target.naturalWidth<150)event.target.src='https://previews.123rf.com/images/diddleman/diddleman1204/diddleman120400002/13058158-no-user-profile-picture-hand-drawn--Stock-Vector-image.jpg'" src="{{photo}}"/>
        </div>
    </div>
</div>